In [1]:
#Dict
#-indexing
#-Orderd
#-Multiple and Duplicate Data
#-Mutable

In [ ]:
# d = {<key>:<value>,<key>:<value>,....}

In [3]:
d = {'a':'Apple','b':'Ball'}
print(type(d))

<class 'dict'>

In [13]:
d = {'name':'Ram','age':34,'add':"Kathmandu"}
print(len(d))
print(d)

3
{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [11]:
print(d['name'])
print(d['age'])
print(d['add'])

Ram
34
Kathmandu

In [ ]:
# CRUD

In [23]:
#Read
d = {'name':'Ram','age':34,'add':"Kathmandu"}
print(d.values())
print(d.keys())
print(d.items())

dict_values(['Ram', 34, 'Kathmandu'])
dict_keys(['name', 'age', 'add'])
dict_items([('name', 'Ram'), ('age', 34), ('add', 'Kathmandu')])

In [19]:
d = {'name':'Ram','age':34,'add':"Kathmandu"}
for i in d:
    print(i)

name
age
add

In [21]:
d = {'name':'Ram','age':34,'add':"Kathmandu"}
for i in d.values():
    print(i)

Ram
34
Kathmandu

In [29]:
# Create
d = {'name':'Jhapa','age':34,'name':"Jhapa"}
d

{'name': 'Jhapa', 'age': 34}

In [33]:
d = {}
d['Ram'] = 9867667654
d['Shyam'] = 9808556543
d['Hari'] = 98087787543
print(d)

{'Ram': 9867667654, 'Shyam': 9808556543, 'Hari': 98087787543}

In [35]:
# in Dict there is no + *

In [37]:
a = {1:1, 2:4, 3:9, 4:16}
b = {5:25, 6:36, 7:49}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [39]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808778765

{'Ram': '9808778765', 'Shyam': '9808778765'}

In [43]:
#update
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
a['Ram'] = '9808000000'
a

{'Ram': '9808000000', 'Shyam': '9808778765'}

In [45]:
#insert
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
a['Rama'] = '9808000000'
a

{'Ram': '9808778765', 'Shyam': '9808778765', 'Rama': '9808000000'}

In [47]:
# delete
# del pop()

In [51]:
a = {'Ram': '9808778765', 'Shyam': '9808778765', 'Rama': '9808000000'}
del a['Ram']
print(a)

{'Shyam': '9808778765', 'Rama': '9808000000'}

In [55]:
a = {'Ram': '9808778765', 'Shyam': '9808778765', 'Rama': '9808000000'}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': '9808778765', 'Rama': '9808000000'}
9808778765

In [60]:
# a = {'Ram': '9808778765', 'Shyam': '9808778765', 'Rama': '9808000000','Ram':'98456676654'}

In [62]:
# list inside dict
# a = {'Ram':[9845665765,9808778765],
#     'Shyam':[9867778765,9808667654],
#     'Hari':[9867889876,9808778765]}

In [ ]:
# a = {'name':['Ram','Shyam','Hari'],
#      'age':[34,45,23],
#      'add':["Kathmandu","Bhaktapur","Lalitpur"]}

In [64]:
# a = {'Ram':[9845665765,9808778765],
#     'Shyam':[9867778765,9808667654],
#     'Hari':[9867889876,9808778765]}
a = {}
n = int(input("Enter no of rows = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no = ")
    ncell = input("Enter ncell phone no = ")
    a[name] = [ntc,ncell]
    
print(a)

Enter no of rows =  2
Enter name =  Ram
Enter ntc phone no =  9867887654
Enter ncell phone no =  9808778765
Enter name =  Shyam
Enter ntc phone no =  9867889876
Enter ncell phone no =  9808778765

{'Ram': ['9867887654', '9808778765'], 'Shyam': ['9867889876', '9808778765']}

In [68]:
# a = {'name':['Ram','Shyam','Hari'],
#      'ncell':[9808778765,980878765,9808667654],
#      'ntc':[9867887654,9865667643,9856445432]}
a = {"name":[],
     "ntc":[],
     "ncell":[]}
n = int(input("Enter no of rows = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no = ")
    ncell = input("Enter ncell phone no = ")
    a["name"].append(name)
    a["ntc"].append(ntc)
    a["ncell"].append(ncell)
    
print(a)

Enter no of rows =  2
Enter name =  Ram
Enter ntc phone no =  9867667654
Enter ncell phone no =  9808778765
Enter name =  Shyam
Enter ntc phone no =  9878776543
Enter ncell phone no =  980876654

{'name': ['Ram', 'Shyam'], 'ntc': ['9867667654', '9878776543'], 'ncell': ['9808778765', '980876654']}

In [15]:
#indexing
a = {'Ram': ['9867887654', '9808778765'], 'Shyam': ['9867889876', '9808778765']}
print(a['Ram'])

['9867887654', '9808778765']

In [9]:
#update
a['Ram'][0] = '9840000000'
a

{'Ram': ['9840000000', '9808778765'], 'Shyam': ['9867889876', '9808778765']}

In [21]:
a = {'name': ['Ram', 'Shyam'], 'ntc': ['9867667654', '9878776543'], 'ncell': ['9808778765', '980876654']}
print(a['name'][0])
print(a['ntc'][0])
print(a['ncell'][0])

Ram
9867667654
9808778765

In [27]:
#update
a['ncell'][0] = 9808000000
a

{'name': ['Ram', 'Shyam'],
 'ntc': ['9867667654', '9878776543'],
 'ncell': [9808000000, '980876654']}

In [31]:
# dict inside list
l = [{'name':'Ram','ntc':9845667654,'ncell':9808000000},
    {'name':'Shyam','ntc':9845667653,'ncell':9808000001},
    {'name':'Hari','ntc':9845667655,'ncell':9808000002}]
l

[{'name': 'Ram', 'ntc': 9845667654, 'ncell': 9808000000},
 {'name': 'Shyam', 'ntc': 9845667653, 'ncell': 9808000001},
 {'name': 'Hari', 'ntc': 9845667655, 'ncell': 9808000002}]

In [3]:
l = []
n = int(input("Enter no of rows = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no = ")
    ncell = input("Enter ncell phone no = ")
    x = {'name': name, 'ntc': ntc, 'ncell': ncell}
    l.append(x)
    
print(l)

Enter no of rows =  2
Enter name =  Ram
Enter ntc phone no =  9845776123
Enter ncell phone no =  9808778765
Enter name =  Shyam
Enter ntc phone no =  9845667654
Enter ncell phone no =  9808778765

[{'name': 'Ram', 'ntc': '9845776123', 'ncell': '9808778765'}, {'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}]

In [13]:
l = [{'name': 'Ram', 'ntc': '9845776123', 'ncell': '9808778765'}, 
     {'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}]
print(l[1])
print(l[0]['ntc'])

{'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}
9845776123

In [15]:
l[0]['ntc'] = '9841000000'
l

[{'name': 'Ram', 'ntc': '9841000000', 'ncell': '9808778765'},
 {'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}]

In [17]:
# dict inside dict
d = {1:{'name': 'Ram', 'ntc': '9841000000', 'ncell': '9808778765'},
     2:{'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}}

{1: {'name': 'Ram', 'ntc': '9841000000', 'ncell': '9808778765'},
 2: {'name': 'Shyam', 'ntc': '9845667654', 'ncell': '9808778765'}}

In [19]:
l = {}
n = int(input("Enter no of rows = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no = ")
    ncell = input("Enter ncell phone no = ")
    x = {'name': name, 'ntc': ntc, 'ncell': ncell}
    l[i] = x
    
print(l)

Enter no of rows =  2
Enter name =  Ram
Enter ntc phone no =  9845667654
Enter ncell phone no =  9808778765
Enter name =  Shyam
Enter ntc phone no =  9845990612
Enter ncell phone no =  9808667612

{1: {'name': 'Ram', 'ntc': '9845667654', 'ncell': '9808778765'}, 2: {'name': 'Shyam', 'ntc': '9845990612', 'ncell': '9808667612'}}

In [29]:
l = {}
l[1] = {'name': 'Ram', 'ntc': '9845667654', 'ncell': '9808778765'}
l[2] = {'name': 'Shyam', 'ntc': '9845990612', 'ncell': '9808667612'}
l[3] = {'name': 'Hari', 'ntc': '9845990615', 'ncell': '9808667610'}
l

{1: {'name': 'Ram', 'ntc': '9845667654', 'ncell': '9808778765'},
 2: {'name': 'Shyam', 'ntc': '9845990612', 'ncell': '9808667612'},
 3: {'name': 'Hari', 'ntc': '9845990615', 'ncell': '9808667610'}}

In [37]:
print(l[1])
print(l[1]['ntc'])

{'name': 'Ram', 'ntc': '9845667654', 'ncell': '9808778765'}
9845667654

In [39]:
l[1]['ntc'] = 9845990634
l

{1: {'name': 'Ram', 'ntc': 9845990634, 'ncell': '9808778765'},
 2: {'name': 'Shyam', 'ntc': '9845990612', 'ncell': '9808667612'},
 3: {'name': 'Hari', 'ntc': '9845990615', 'ncell': '9808667610'}}

In [41]:
# WAP for CRUD
# list inside list
# dict inside list
# list inside dict
# dict inside dict