In [3]:
# file
# open('<file_name>','<mode>')

# with open('<file_name>','<mode>'):
#     <operations>

# modes
# r -> read
# w -> write
# x -> create
# a -> append

In [26]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\aayush\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aayush\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aayush\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aayush\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aayush\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aayush\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
#creatre
try:
    file = open('data.txt','x')
    file.close()
except:
    print("There is same file!")

There is same file!

In [15]:
#write
data = "Hello World"
file = open('data1.txt','w')
file.write(data)
file.close()

In [27]:
#append
data = "Hello World\n"
file = open('data1.txt','a')
file.write(data)
file.close()

In [17]:
#read
file = open('data.txt','r')
my_data = file.read()
print(my_data)
file.close()

Hello World

In [31]:
# Bill system
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter Product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    bill = bill + row

file = open('bill.txt','a')
file.write(bill)
file.close()

Enter n =  2
Enter Product name =  Momo
Enter price =  200
Enter quantity =  3
Enter Product name =  Coke
Enter price =  150
Enter quantity =  5

In [33]:
#read
file = open('bill.txt','r')
my_data = file.read()
print(my_data)
file.close()

Apple 2000 3.0 6000.0
Banana 1000 2.0 2000.0
Momo 200 3.0 600.0
Coke 150 5.0 750.0

In [35]:
my_data

'Apple 2000 3.0 6000.0\nBanana 1000 2.0 2000.0\nMomo 200 3.0 600.0\nCoke 150 5.0 750.0\n'

In [47]:
row = my_data.split('\n')[0:-1]
row

['Apple 2000 3.0 6000.0',
 'Banana 1000 2.0 2000.0',
 'Momo 200 3.0 600.0',
 'Coke 150 5.0 750.0']

In [59]:
bills = []
for i in row:
    x = i.split()
    x[1] = int(x[1])
    x[2] = float(x[2])
    x[3] = float(x[3])

    bills.append(x)

bills

[['Apple', 2000, 3.0, 6000.0],
 ['Banana', 1000, 2.0, 2000.0],
 ['Momo', 200, 3.0, 600.0],
 ['Coke', 150, 5.0, 750.0]]

In [63]:
s = 0
for i in bills:
    s = s+ i[3]
print(s)

9350.0

In [75]:
# Bill system
bill = ""
s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter Product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    row = f"{product},{price},{qty},{total}\n"
    bill = bill + row
    s = s + total
#write mode
file = open('bill.csv','w')
file.write('Product,Price,Quantity,Total\n')
file.write(f"{bill}\n")
file.write(f"Total = {s}")
file.close()

#append
file = open('all_bill.csv','a')
file.write(bill)
file.close()

Enter n =  2
Enter Product name =  Apple
Enter price =  300
Enter quantity =  4
Enter Product name =  Banana
Enter price =  150
Enter quantity =  6

In [69]:
pwd

'C:\\Users\\Aayush\\Python_6_30'

In [6]:
import csv
bill = [['Name','Price','Quantity','Total'],
       ['Apple', 2000, 3.0, 6000.0],
       ['Banana', 1000, 2.0, 2000.0],
       ['Momo', 200, 3.0, 600.0],
       ['Coke', 150, 5.0, 750.0]]
file = open('list_bill.csv','w')
x = csv.writer(file)
x.writerows(bill)
file.close()

In [8]:
import pandas as pd
file = pd.read_csv('list_bill.csv')
file

     Name  Price  Quantity   Total
0   Apple   2000       3.0  6000.0
1  Banana   1000       2.0  2000.0
2    Momo    200       3.0   600.0
3    Coke    150       5.0   750.0

In [12]:
col = ['Name','Price','Quantity','Total']
bill = [['Apple', 2000, 3.0, 6000.0],
       ['Banana', 1000, 2.0, 2000.0],
       ['Momo', 200, 3.0, 600.0],
       ['Coke', 150, 5.0, 750.0]]
df = pd.DataFrame(bill,columns = col)
df.to_csv('dataframe_bill.csv')
df

     Name  Price  Quantity   Total
0   Apple   2000       3.0  6000.0
1  Banana   1000       2.0  2000.0
2    Momo    200       3.0   600.0
3    Coke    150       5.0   750.0

In [2]:
# Define column names for the bill DataFrame
col = ['Name','Price','Quantity','Total']

# Create list of lists containing bill data (item details)
bill = [['Apple', 2000, 3.0, 6000.0],
       ['Banana', 1000, 2.0, 2000.0],
       ['Momo', 200, 3.0, 600.0],
       ['Coke', 150, 5.0, 750.0]]

# Create DataFrame from bill data with defined columns
df = pd.DataFrame(bill,columns = col)

# Export DataFrame to CSV file
df.to_csv('dataframe_bill.csv')

# Display the DataFrame
df

NameError: name 'pd' is not defined

In [18]:
data = {'Name':['Ram','Shyam','Hari'],
        'Age':[34,45,67],
        'Add':['Kathmandu','Bhaltapur','Lalitpur']}

df = pd.DataFrame(data)
df.to_csv('dictdata.csv')
df

    Name  Age        Add
0    Ram   34  Kathmandu
1  Shyam   45  Bhaltapur
2   Hari   67   Lalitpur

In [20]:
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Katmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]

file = open("data.csv", 'w')
writer = csv.DictWriter(file, fieldnames=csv_columns)
writer.writeheader()
for data in dict:
    writer.writerow(data)
file.close()

In [22]:
df = pd.read_csv('data.csv')
df

     Name  Age   Address
0  Aayush   23  Katmandu
1   Shyam   33     Patan

In [24]:
import csv
file = open('data.csv')
reader = csv.DictReader(file)
for row in reader:
    print(row)

{'Name': 'Aayush', 'Age': '23', 'Address': 'Katmandu'}
{'Name': 'Shyam', 'Age': '33', 'Address': 'Patan'}