In [11]:
a = 10
print(a)

10

In [17]:
a = 10               #int
b = 10.5             #float
c = "Hello World"    #str
d = True             #bool

print(a)
print(b)
print(c)
print(d)

10
10.5
Hello World
True

In [19]:
# + - * / % ** //

In [29]:
a = 10
b = 3
c = a/b
print(c)

3.3333333333333335

In [42]:
print(a%b)
print(a**b)
print(a//b)

1
1000
3

In [44]:
print(a)

10

In [46]:
#  + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [50]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [56]:
a = True
b = False
print(a+b)
print(a-b)
print(a*b)

1
1
0

In [67]:
a = 10               #int
b = 10.5             #float
c = "Hello World"    #str
d = True             #bool

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [71]:
a = "10"
print(type(a))

<class 'str'>

In [1]:
#Datatype conversion
#int() float() str() bool()

a = 10
b = float(a)
print(b)

10.0

In [3]:
a = 10.5
b = int(a)
print(b)

10

In [5]:
a = 20
b = str(a)
print(b)

20

In [11]:
a = "100"
b = int(a)
print(b)

1000

In [15]:
a = "10"
b = "20"
c = int(a) + int(b)
print(c)

30

In [33]:
a = 0
b = bool(a)
print(b)

False

In [1]:
# I/O operations

In [7]:
a = input("Enter the value of a = ")
print(a)

Enter the value of a =  Apple

Apple

In [13]:
a = int(input("Enter the value of a = "))
b = int(input("Enter the value of b = "))
c = a+b
print(c)

Enter the value of a =  10
Enter the value of b =  20

30

In [ ]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

In [15]:
pi = 3.14
r = float(input("Enter r = "))
a = pi * r**2

print("The area of circle = ",a)

Enter r =  12

The area of circle =  452.16

In [ ]:
l = int(input("Enter l = "))
b = float(input("Enter b = "))
h = float(input("Enter h = "))

v = l*b*h
print("The volume is = ",v)

In [31]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

print(name,age,add)

Enter name =  Ram
Enter age =  23
Enter add =  Kathmandu

Ram 23 Kathmandu

In [21]:
print("Hello World I am",name,"I am from",add,"I am",age)

Hello World I am Ram I am from Kathmandu I am 23

In [35]:
info = "Hello World I am " + name + " I am " + str(age) + " I am from " +add
print(info)

Hello World I am Ram I am 23 I am from Kathmandu

In [37]:
# WAP to calculate total, per of +2 science student
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter physics chemistry = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter Nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("Total marks = ",total)
print("Per = ", per)

Enter physics marks =  89
Enter physics chemistry =  98
Enter math marks =  89
Enter english marks =  78
Enter Nepali marks =  78

Total marks =  432
Per =  86.4