In [1]:
# Python Collection
# List
# Tuple
# Dictionary
# Set

In [3]:
#List
# -Indexing
# -Odered
# -Multiple and duplicate
# -Mutable

In [5]:
a = list()
a = []
print(type(a))

<class 'list'>

In [11]:
a = [1,2,3,4,5,6,7,8,9,10,10]
b = ["Apple","Ball","Cat","Dog"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]
['Apple', 'Ball', 'Cat', 'Dog']

In [13]:
print(len(a))
print(len(b))

11
4

In [35]:
a = ["Apple","Ball","Cat","Dog","Egg","Fish"]
print(a[0])
print(a[-1])
print(a[0:5])
print(a[0:6:2])
print(a[::-1])

Apple
Fish
['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
['Apple', 'Cat', 'Egg']
['Fish', 'Egg', 'Dog', 'Cat', 'Ball', 'Apple']

In [37]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [41]:
# append() insert() extend()

In [43]:
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [45]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    a = input("Enter name = ")
    l.append(a)

print(l)

Enter n =  5
Enter name =  Ram
Enter name =  Shyam
Enter name =  Hari
Enter name =  Sita
Enter name =  Gita

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [47]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a.insert(1,"Akash")
a

['Ram', 'Akash', 'Shyam', 'Hari', 'Sita', 'Gita']

In [54]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
d = [1,2,3]
a.extend(b+d)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [56]:
# CRUD
#Read
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
for i in a:
    print(i)

Ram
Shyam
Hari
Sita
Gita

In [62]:
#Read
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
l = len(a)
for i in range(l):
    print(a[i])

Ram
Shyam
Hari
Sita
Gita

In [66]:
#Update
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a[0] = 'Rama'
print(a)

['Rama', 'Shyam', 'Hari', 'Sita', 'Gita']

In [86]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a[0:1] = ['Rama']
print(a)

['Rama', 'Shyam', 'Hari', 'Sita', 'Gita']

In [68]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a[0:2] = ['Rama','Shyama']
print(a)

['Rama', 'Shyama', 'Hari', 'Sita', 'Gita']

In [70]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
a[0:2] = ['Rama']
print(a)

['Rama', 'Hari', 'Sita', 'Gita']

In [76]:
a = ['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']
#a[a.index("Shyam")] = "Shyama"
i = a.index("Shyam")
a[i] = "Shyama"
a

['Ram', 'Shyama', 'Hari', 'Sita', 'Gita']

In [1]:
# delete
# del remove() pop()
a = ['Ram', 'Shyama', 'Hari', 'Sita', 'Gita']
del a[0]
print(a)

['Shyama', 'Hari', 'Sita', 'Gita']

In [3]:
a = ['Ram', 'Shyama', 'Hari', 'Sita', 'Gita']
del a[0:2]
print(a)

['Hari', 'Sita', 'Gita']

In [7]:
a = ['Ram', 'Shyama', 'Hari', 'Sita', 'Gita']
a.remove("Shyama")
print(a)

['Ram', 'Hari', 'Sita', 'Gita']

In [11]:
a = ['Ram', 'Shyama', 'Hari', 'Sita', 'Gita']
b = a.pop(0)
print(a)
print(b)

['Shyama', 'Hari', 'Sita', 'Gita']
Ram

In [15]:
a = ['Ram', 'Shyama', 'Hari',"Ram", 'Sita', 'Gita',"Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove('Ram')
print(a)

['Shyama', 'Hari', 'Sita', 'Gita']

In [21]:
#Read the index
a = ['Ram', 'Shyama', 'Hari',"Ram", 'Sita', 'Gita',"Ram"]
for i in range(len(a)):
    if "Ram" == a[i]:
        print(i)

0
3
6

In [25]:
#Read and Update
a = ['Ram', 'Shyama', 'Hari',"Ram", 'Sita', 'Gita',"Ram","Ramesh"]
for i in range(len(a)):
    if "Ram" == a[i]:
        a[i] = "Rama"
a

['Rama', 'Shyama', 'Hari', 'Rama', 'Sita', 'Gita', 'Rama', 'Ramesh']

In [27]:
# Basic Math
#min() max() sum() sort() reverse()
a = [234,564,678,798,345,234,54,123,45,675,87,98,67,45,657]
print("The min value = ",min(a))
print("The max value = ",max(a))
print("The sum of list = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The min value =  45
The max value =  798
The sum of list =  4704
[45, 45, 54, 67, 87, 98, 123, 234, 234, 345, 564, 657, 675, 678, 798]
[798, 678, 675, 657, 564, 345, 234, 234, 123, 98, 87, 67, 54, 45, 45]

In [31]:
a = ["Zebra","Apple","Cat","Bat","ant"]
a.sort()
print(a)

['Apple', 'Bat', 'Cat', 'Zebra', 'ant']

In [37]:
a = [".Zebra","Apple","Cat","Bat","1ant"]
a.sort()
print(a)

['.Zebra', '1ant', 'Apple', 'Bat', 'Cat']

In [41]:
# search
a = ["Zebra","Apple","Cat","Bat","ant"]
search = input("Enter data for search = ")
if search in a:
    print("yes there is")
    print(a.count(search))
else:
    print("There is no such Apple")

Enter data for search =  Apple

yes there is
1

In [43]:
# Make caseinsensitive

In [51]:
# nested list
a = [['Ram',34,'Kathmandu'],
    ['Shyam',78,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]
print(len(a))
a

3

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur']]

In [55]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])

print(info)

Enter n =  3
Enter name =  Ram
Enter age =  78
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  34
Enter add =  Bhaktapur
Enter name =  Ram
Enter age =  22
Enter add =  Bhaktapur

[['Ram', 78, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Ram', 22, 'Bhaktapur']]

In [84]:
info = [['Ram', 78, 'Kathmandu'],
        ['Shyam', 34, 'Bhaktapur'], 
        ['Ram', 22, 'Bhaktapur']]

print(info[0])
print(info[1][2])

['Ram', 78, 'Kathmandu']
Bhaktapur

In [96]:
name = input("Enter name")
for i in info:
    if name in i:
        print(i)

Enter name Bhaktapur

['Shyam', 34, 'Bhaktapur']
['Ram', 22, 'Bhaktapur']

In [106]:
age = int(input("Enter age"))
for i in info:
    if i[1] >=age:
        print(i)

Enter age 70

['Ram', 78, 'Kathmandu']

In [ ]:
# Try CRUD in info