In [1]:
# String
a = 'Hello World'
b = "Hello World"
c = ''' Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [9]:
a = "Hello World\n"
b = 2
print(a*b)

Hello World
Hello World

In [11]:
# String is imutable

In [19]:
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [23]:
print(a[:5]) #string slicing
print(a[6:])

Hello
World

In [25]:
print(a[6:100])

World

In [38]:
print(a[0:11:2])

HloWrd

In [30]:
a = "Hello World"
c = len(a)
print(c)

11

In [52]:
print(a[10:0:-1])

dlroW olle

In [48]:
print(a[::-1])

dlroW olleH

In [54]:
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [64]:
a = "Hello World. I am Python."
l = len(a)
for i in range(l):
    print(a[i],end = "")

Hello World. I am Python.

In [72]:
a = "Hello World. I am Python."
l = len(a)
for i in range(l):
    if a[i] == ".":
        print(i)

11
24

In [87]:
i = 0
a = "Hello World. I am Python."
l = len(a)
print(l)
while i<l:
    print(a[i],end = "")
    i = i+1

25
Hello World. I am Python.

In [77]:
i = 0
a = "Hello World. I am Python."
l = len(a)
while i<l:
    if a[i] == ".":
        print(i)
    i = i+1

11
24

In [89]:
name = "Ram"
age = 30
add = "Kathmandu"
info = "Hello World I am "+name+ " I am from "+add+" I am "+str(age)
print(info)

Hello World I am Ram I am from Kathmandu I am 30

In [91]:
# string formatting
info = f"Hello World I am {name} I am from {add} I am {age}"
print(info)

Hello World I am Ram I am from Kathmandu I am 30

In [1]:
# Biil system
bill = ""
s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter Product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    bill = bill + row
    s = s+ total
print("Your Bill\n",bill)
print("Your Total\n",s)

Enter n =  2
Enter Product name =  Momo
Enter price =  150
Enter quantity =  4
Enter Product name =  Coke
Enter price =  100
Enter quantity =  5

Your Bill
 Momo 150 4.0 600.0
Coke 100 5.0 500.0

Your Total
 1100.0

In [11]:
# search
data = "Ram Shyam Hari Nabin Sabin Rita"
name = input("Enter name = ")
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter name =  rita

There is no such name

In [17]:
data = "Ram Shyam Hari Nabin Sabin Rita"
print(data.lower())
print(data.upper())

ram shyam hari nabin sabin rita
RAM SHYAM HARI NABIN SABIN RITA

In [27]:
# search
data = "Ram Shyam Hari Nabin Sabin Rita Ramesh".lower()
name = input("Enter name = ").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter name =  Ram

Yes there is  ram
2

In [35]:
# replace()
data = "Ram Shyam Hari Nabin Sabin Rita"
data = data.replace("Hari","Harry")

In [41]:
# replace()
data = "Ram Shyam Hari Nabin Sabin Rita"
data = data.replace("Hari","")
print(data)

Ram Shyam  Nabin Sabin Rita

In [37]:
print(data)

Ram Shyam Harry Nabin Sabin Rita

In [39]:
a = "ram shyam hari nabin sabin rita"
print(a.title())

Ram Shyam Hari Nabin Sabin Rita

In [47]:
# search and replace
data = "Ram Shyam Hari Nabin Sabin Rita Ramesh ram".lower()
name = input("Enter name = ").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
    data = data.replace(name,"")
    print(data.title())
else:
    print("There is no such name")

Enter name =  ram

Yes there is  ram
3
 Shyam Hari Nabin Sabin Rita Esh

In [51]:
data = "Ram Shyam Hari Nabin Sabin Rita Ramesh ram"
data = data[3:]
data = data[0:-3]
data

' Shyam Hari Nabin Sabin Rita Ramesh '

In [53]:
# WAP to enter marks of students calculate total per and grade and create a data entry application
# ram,90,67,87,67,67,400,80,A
# shyam,80,76,89,78,67,410,81,A

In [57]:
result = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    total = physics + chemistry + math + english + nepali
    per= total/5
    if physics>=45 and chemistry>=45 and  math >= 45 and english >=45 and nepali >= 45:
        if per >= 80:
            grade = 'A'
        elif per >= 60:
            grade = 'B'
        elif per >= 45:
            grade = 'C'
    else:
        grade = 'F'

    data = f"{name} {physics} {chemistry} {math} {english} {nepali} {total} {per} {grade}\n"
    result = result + data


print(result)

Enter n =  2
Enter name =  Ram
Enter physics marks=  90
Enter chemistry marks=  89
Enter math marks=  78
Enter english marks=  90
Enter nepali marks=  78
Enter name =  Shyam
Enter physics marks=  90
Enter chemistry marks=  89
Enter math marks=  78
Enter english marks=  67
Enter nepali marks=  90

Ram 90 89 78 90 78 425 85.0 A
Shyam 90 89 78 67 90 414 82.8 A

In [ ]:
# WAP to detect if the given no is prime or composite
#WAP to write "hello World" in the following pattern
    # H
    # He
    # Hel
    # Hello
    # Hello 
    # Hello W
    # .....
    # Hello World
#WAP to remove "." and "!" both from "Hello World. I am Python!"