In [1]:
# tuple
# -Indexing same as list
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [3]:
a = tuple()
print(type(a))

<class 'tuple'>

In [15]:
a = (1,2,3,4,5,6,)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [17]:
a = ("Apple",)
type(a)

tuple

In [25]:
a = ("Apple","Ball","Cat","Dog","Apple")
print(a[0])
print(a[0:4])

Apple
('Apple', 'Ball', 'Cat', 'Dog')

In [27]:
# No append() insert() extend() 
# No Update
# No delete
# But we can Read

In [33]:
a = (1,2,3)
b = (4,)
c = a+b
print(c)

(1, 2, 3, 4)

In [35]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
t

Enter n =  10
Enter x =  324
Enter x =  456
Enter x =  768
Enter x =  12
Enter x =  43
Enter x =  6
Enter x =  78
Enter x =  98
Enter x =  34
Enter x =  67

(324, 456, 768, 12, 43, 6, 78, 98, 34, 67)

In [37]:
# in tuple we can
# min() max() sum()

In [41]:
print("Min value = ",min(t))
print("Max value = ",max(t))
print("Sum of all  value = ",sum(t))

Min value =  6
Max value =  768
Sum of all  value =  1886

In [43]:
x = 10,11,12,13,14,15
print(x)

(10, 11, 12, 13, 14, 15)

In [45]:
# tuple inside tuple
info = (('Ram',9808778765),
       ('Shyam',9845334523))
info

(('Ram', 9808778765), ('Shyam', 9845334523))

In [47]:
# tuple to dict
dict(info)

{'Ram': 9808778765, 'Shyam': 9845334523}

In [49]:
# list to dict
l = [['Ram', 9808778765], ['Shyam', 9845334523]]
dict(l)

{'Ram': 9808778765, 'Shyam': 9845334523}

In [55]:
a = ("Ram","Shyam","Hari")
b = list(a)
del b[2]
a = tuple(b)
a

('Ram', 'Shyam')